* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    height: 500px;
    display: flex;
    /*
    flex-direction: column;
    background: #FEEE91;
    justify-content: end;
    align-items: start;
    flex-wrap: wrap;
    */
}

.item {
    background: #8CE4FF;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-basis: 300px;
    justify-content: center;
    align-items: center;

}


.item:nth-of-type(1) {
    flex-shrink: 1;
}

.item:nth-of-type(2) {
    flex-shrink: 2;
}

.item:nth-of-type(3) {
    flex-shrink: 3;
}

