@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Google Sans Flex", sans-serif;
    font-size: 14px;
    background: #C6E7FF;
    color: #404a4c;
}

img {
    max-width: 100%;
    
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.nav-bar {
    background: #D4F6FF;
    height: 60px;
}

.nav-bar .logo {
    font-size: x-large;
    font-weight: bold;
}

.nav-bar a {
    color: #404a4c;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-bar a:hover {
    text-decoration: underline;
    
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar ul {
    display: flex;
    gap: 20px;
}

.nav-bar ul li:hover {
    transform: translateY(-3px);
}

.header {
    background: #FBFBFB;
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    line-height: 1.2;
}

.header img {
    max-width: 300px;

}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    font-size: x-large;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.boxes .box {
    flex: 1;
    background: #FBFBFB;
    border-radius: 12px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 15px;
        text-align: center;
    }

    .header img {
        margin-bottom: 32px;
    }

    .boxes .container {
        flex-direction: column;
        text-align: center;
    }
}